<meta charset="UTF-8">
	<!-- main início -->
    <main role="main" class="container-fluid">
    	<!-- conteiner início -->
    	<div class="conteiner">      		
      		<!-- row inicio -->
      		<div class="row">     	
				<!-- Título da página início -->
				<div class="col-md-12 mx-auto">     	
					<h2 class="text-center mb-5">Gerenciamento</h2>
	      	    <!-- Título da página fim -->  
	      		</div>
				<!-- coluna única início -->
	      		<div class="col-md-6">
					<!-- Grupo de cartões inicio -->
					<div class="card-group">
						<div class="card">
							<img class="card-img-top" src="/views/res/images/produtos.png" alt="Card image cap">
						    <div class="card-body">
						      <span class="align-bottom">
						      <h5 class="card-title">PRODUTOS</h5>
						      <p class="card-text">Gerenciamento de Produtos</p>
						      <a class="btn btn-warning btn-lg btn-block" href="/?app=gerenciamento-produto" role="button">GERENCIAR</a>
						      </span>					      
						    </div>
						 </div>				  
						<div class="card">
							<img class="card-img-top" src="/views/res/images/clientes-1.png" alt="Card image cap">
						    <div class="card-body">
						      <h5 class="card-title">CLIENTES</h5>
						      <p class="card-text">Gerenciamento de clientes [Não Implementado]</p>
						      <a class="btn btn-warning btn-lg btn-block " href="#" role="button">GERENCIAR</a>					      
						    </div>
						 </div>
					<!-- Grupo de cartões fim -->  
					</div>
	      		<!-- coluna única fim -->
	      		</div>       	
      	    <!-- row fim -->  
      		</div>
      <!-- conteiner fim -->	    
      </div>       
    <!-- main fim -->
    </main>   
  