<meta charset="UTF-8">
    <!--  main início -->
    <main role="main" class="container-fluid">
    	<!--  div class="conteiner" início -->
    	<div class="conteiner">      		
      		<!--  div class="row" inicio  -->
      		<div class="row">     				
				<div class="col-md-12">     	
					<h2 class="text-center mb-5">Relatório</h2>	      	      
	      		</div>	      	
	      		<div class="col-md-6">     		      			
					<a class="btn btn-info btn-lg btn-block" href="/relatorio-saldo-clientes" role="button">SALDO DO CLIENTE</a>
					<a class="btn btn-secondary btn-lg btn-block" href="#" role="button">VENDAS DO DIA <i>[Não implementado]</i></a>
					<a class="btn btn-secondary btn-lg btn-block" href="#" role="button">VENDAS DO MÊS<i>[Não implementado]</i></a>
					<a class="btn btn-secondary btn-lg btn-block" href="#" role="button">VENDAS DO ANO<i>[Não implementado]</i></a>
					<a class="btn btn-secondary btn-lg btn-block" href="#" role="button">VENDAS DO ANOS ANTERIORES<i>[Não implementado]</i></a>	      	      
	      		</div>
	      		<div class="col-md-6">
	      		</div>
      	    <!--  div class="row" fim  -->  
      		</div>
      <!--  div class="conteiner" fim -->		    
      </div>          
    <!--  main fim -->  
    </main>