   <section class="content-header">
      <h4>
       
      </h4>      
    </section>


    <!-- Main content -->
    <section class="content">
        
        
        <div class="container JustifyCenter">
      
            
            <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="/views/res/images/adm/cardapio.jpg" alt="...">
      <div class="caption">
        <h3>
            ALTERALÇAO DE CARDÁPIO
        </h3>
        <p>
            <strong>
                Opções:
            </strong>
            <br>Alteração de valores<br>
            Alteração de Disponibilidade no cardáoio
        </p>
        <p class="align-middle"><a href="/adm/cardapio" class="btn btn-primary" role="button">Ir para</a> </p>
      </div>
    </div>
  </div>
                
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="/views/res/images/adm/img_grafico.jpg" alt="...">
      <div class="caption">
        <h3>
            QUANTIDADE DE ACESSOS
        </h3>
        <p>
            <br>
            Ao Site:  {$acessosite}
            <br>
            <br>
            Ao Cardápio:  {$acessocardapio} 
            <br>            
        </p>        
      </div>
    </div>
  </div>
                
                
                
</div>
           
            
        </div> <!-- /container -->

    </section>
    <!-- /.content -->